p{
	font-size: 40px;
	background-color: orange;
}
.p1{
	font-size:30px;
}
body {
  background-image: url("grainy.jfif");
}
h1{
	color: orange;


}
.matthew{

border: 12px outset orange;
}
.mat{
	text-align: center;
}
h2{
	color: orange;
}
h5{
	color:white;
	font-size: 35px;
	text-align: center;
}
h3{
	text-align: center;
	font-size: 50px;
	color: orange;
}
h6{
	font-size: 40px;
	color: orange;
}
h4{
	color: orange;
	font-size: 50px;
}
a{
	font-size: 24px;
}
